<%- include("./partials/header") %>

<div class="title">
	<h1>
		<i class="info icon"></i> About Me
	</h1>
</div>

<div class="main ui container">
	<h2>
		<i class="hand point down outline blue icon"></i> What You Will Find Here
	</h2>
	<hr class="smooth">
	<p>
		Whether you are a physics student or just someone who is interested in physics, you will encounter physics phenomena which are hard to understand or visualize. While there are plenty of text book diagrams and videos that help with explanation, you still cannot easily see how things would change when certain variables are tweaked, and there are rarely tools that allows you to play with.
	</p>
	<p>
		Wondering how Earth's orbit would be different if our sun is heavier? Sweat no more! Just change the mass of our sun and see for your self! You will find senarios here where you can learn about the underlying physics concepts as well as exploring different conditions.
	</p>
	<p>
		Now you want to learn more about the topic? No problem! There is a section specifically for you! We dig deep into the detailed derivation of the topic and provide explanations on how the game you just played demonstrate the knowledge you learned.
	</p>
	
	<h2>
		<i class="book red icon"></i> External Resources
	</h2>
	<hr class="smooth">
	<p>
		There is a great website called <a href="https://phet.colorado.edu/en/simulations/browse"><i class="linkify icon" style="font-size: 0.8em; text-shadow: none"></i>Interactive Simulation</a> made by <strong>University of Colorado Boulder</strong>.
	</p>
	<p>
		The pictures come from the Internet, if they violate any copyright, please inform me!
	</p>
	
	<h2>
		<i class="id badge icon"></i> Who Are We
	</h2>

	
	<div class="ui celled grid">
		<div class="row">
			<div class="three wide column">
				<h3>
					<i class="user icon"></i> Author
				</h3>
				<div class="ui image">
					<img src="https://st3.depositphotos.com/6672868/14376/v/450/depositphotos_143767633-stock-illustration-user-profile-group.jpg">
				</div>


			</div>
			<div class="thirteen wide column">
				<h3>
					Fengrui Gan
				</h3>
				<p>
					BS in Physics, currently persuing MS CS.
				</p>
				<p>
					<i class="quote left violet icon"></i>I am a former physics student who transitioned into computer science. As my first "big" project, I wanted to make a website about physics. While I am in no way a great physics student, I do hope to teach people about physics, and make physics easier to understand. Hence, I am making this physics playground for people who want to learn more about physics or simply are just interested. <i class="quote right violet icon"></i>
				</p>
				<p style="display: inline">
					Email: fengruigan@gmail.com
				</p>
			</div>
		</div>
		<div class="row">
			<div class="three wide column">
				<h3>
					<i class="users icon"></i> Contributor
				</h3>
				<div class="ui image">
					<img src="https://images.wallpaperscraft.com/image/monkey_swing_little_66463_800x1200.jpg">
				</div>
			</div>
			<div class="thirteen wide column">
				<h3>
					Peiran Hu
				</h3>
				<p>
					Current Physics Ph.D candidate. He contributes to the topic choice as well as detailed derivations in each topic. He is also currently writing his own version of Physics text book.
				</p>
				<p>
					<i class="quote left violet icon"></i> Just say that I am helping with the very basics and provides some ideas to the website. <i class="quote right violet icon"></i>
				</p>
				<p>
					Email: peiranhu@gmail.com
				</p>
				<p style="font-size: 1.1em; margin-top: 6em">
					He picked this pic for himself by the way.
				</p>
			</div>
		</div>
	</div>
	
	<a class="ui button blue" href="/">Go Home</a>
	
</div>

<%- include("./partials/footer") %>