hr.abrupt {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
hr.smooth {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

i.icon {
	text-shadow: 2px 2px rgba(0,0,0,0.3);
}

.ui.menu .item {
	padding-top: 0;
	padding-bottom: 0;
	font-size: 20px;
}

.title{
	padding-top: min(15%, 5.5em);
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
	padding-bottom: 1.5em;
	margin-bottom: 5em;
}

.title h1 {
	font-size: 3em;
	text-shadow: 3px 2px rgba(0,0,0,0.4);
	margin: 0;
}

.title .icon{
	font-size: 1em;
	color: #216ccf;
}

.title .icon.crosshairs {
	color: red;
	text-shadow: none;
}

.title h2{
	margin-top: 7px;
	font-size: 1.5em;

}

.main {
	text-align:left;
	margin-bottom: 10em;
}

.main h2  {
	font-size: 2.5em;
	margin-bottom: 3px;
}

.main h3 {
	margin-top: 4px;
	text-align: center;
	font-size: 1.8em;
}

.main p {
	font-size: 1.4em;
	padding-left: 1em;
}

.main p::first-letter{
	font-size: 1.2em;
	font-weight: bold;
}

.main ul{
	line-height: 2em;
}

.main li {
	font-size: 1.4em;
}

/* .tab{
	padding: 0 1em;
}
 */


#tradmark {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
	padding-bottom: 5em;
}