<%- include("../partials/header") %>

<div class="title">
	<h1>
		<i class="crosshairs icon"></i> Coriolis Effect
	</h1>
	<h2>
		Try shooting at a target on a spinning platform
	</h2>
</div>

<div class="main ui container">
	<h2>
		<i class="question circle outline blue icon"></i> What is Coriolis Effect anyway?
	</h2>
	<hr class="smooth">
	
	<!-- write better pls! -->
	<p>
		In short, <strong>Coriolis Effect</strong> is the deflection of objects' trajectory when viewed in a rotating reference frame.
	</p>
	<div class="image" style="display: flex; justify-content: center; margin-bottom: 2em;">
		<img src="https://www.dummies.com/wp-content/uploads/356147.image0.jpg">
	</div>
	<p>
		In this game, you will try to hit a target with your rifle. The catch is, you and your target is in a rotating reference frame. Knowing that your bullet will be deflected, you will need to aim with a lead. But how much do you need to lead? What if the angular velocity is faster? Or slower? What if the direction of rotation is completely opposite?
	</p>
	<!-- <p>
		You might have seen pictures of hurricanes in weather forecasts, and you might have noticed that hurricanes swirl counter clockwise in the northern hemisphere, but those in the southern hemisphere swirl clockwise. Naval artilleries firing a target 10s of kilometers away will miss the target if they aim directly at the target. You will need to aim with a lead even if the target is stationary. These are both due to the <strong>Coriolis Effect</strong>. But how does Coriolis Effect cause this? 
	</p> -->
	<!-- <p>
		In short, it all comes down to Earth's rotation and perspective, or reference frame. If you are a physics student, you will encounter Coriolis Effect when you are learning about accelerating reference frames. Earth is a giant rotating reference frame. 
	</p> -->
	
	<a class="ui button green" href="/coriolis/game">Go Play the game</a>
	<a class="ui button green" href="#">Learn More</a>
	<a class="ui button blue" href="/">Back</a>

</div>

<%- include("../partials/footer") %>