<%- include("../partials/header") %>

<div class="title">
	<h1>
		<i class="sun yellow icon"></i>Gravity
	</h1>
	<h2>
		Play around with our sun
	</h2>
</div>

<div class="main ui container">
	<h2>
		<i class="tree green icon"></i> The famous story of Newton and an apple
	</h2>
	<hr class="smooth">
	
	<h2>
		<i class="gamepad blue icon"></i> Let's Play!
	</h2>
	<hr class="smooth">
	<p>
		This game is from <a href="https://phet.colorado.edu/en/simulation/gravity-and-orbits"><em>University of Colorado-Boulder's Interactive Simulations</em></a>. 
	</p>
	<p>
		Play around with the mass of the sun and the planet in this simulation. Can you figure out the different effects of <strong>increasing</strong> or <strong>decreasing</strong> the mass of the <em>star</em> and the mass of the <em>planet</em> have on the <em>planet's</em> orbit? What about the <em>moon</em>?
	</p>
	
	<div style="display: flex; justify-content: center; margin-top: 2em; margin-bottom: 2em">
		<iframe src="https://phet.colorado.edu/sims/html/gravity-and-orbits/latest/gravity-and-orbits_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>
	</div>
	
	<a class="ui button blue" href="/">Back</a>
</div>


<%- include("../partials/footer") %>