<%- include("../partials/header") %>

<div class="title">
	<h1>
		<i class="car icon"></i>Special Relativity
	</h1>
	<h2>
		Look at the world from a car traveling near the speed of light
	</h2>
</div>


<div class="main ui container">
	<h2>
		<i class="question circle outline blue icon"></i> What is so special about Special Relativity?
	</h2>
	<hr class="smooth">
	
	
	<a class="ui button blue" href="/">Back</a>
</div>


<%- include("../partials/footer") %>