<%- include("../partials/header") %>


<div class="title">
	<h1>
		<i class="gamepad icon"></i> Minigames
	</h1>
	<h2>
		There are a few games that are not physics related, but are still fun to play with!
	</h2>
</div>

<div class="main ui container">
	<h2>
		<i class="child icon"></i> These are some games I made on the side
	</h2>
	<hr class="abrupt">

	<div class="ui link cards">
		<!-- individual link cards are a tags -->
		<a class="ui card" href="/minigames/starcraft">
			<div class="image">
				<img src="images/marine_vs_zergling_thumbnail.png">
			</div>
			<div class="content">
				<div class="header">
					Marine vs. Zerglings
				</div>
				<div class="description">
					This is a mini game I made back when I was in high school
				</div>
			</div>
		</a>
		<a class="ui card" href="/minigames/CGJ">
			<div class="image">
				<img src="images/CGJ_game_thumbnail.png">
			</div>
			<div class="content">
				<div class="header">
					Fission (我裂开了)
				</div>
				<div class="description">
					This is a game made for <em>2020 CiGA Game Jam</em> 48 competition
				</div>
			</div>
		</a>
	</div>
</div>



<%- include("../partials/footer") %>